@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root{
  font-family: "Montserrat", sans-serif;
  color: #303030;
  background-color: #f3f4f6;
}

@theme {
  --animate-home: home .7s ease-in-out;
  @keyframes home {
   0%{
    width: 0%;
   },
   100%{
    width: 90%;
   }

  }
}